In [ ]:
'''
Create a series of date (format dd-mm-yy) from start date 01-01-2020 to end date 31-12-2020.
a. Convert the series to a data frame.
b. Change the format of date in the date column to yy-mm-dd
c. Create a new column with the week number of every date in the column
'''

In [25]:
Series = pd.Series(pd.date_range('2020-01-01','2020-12-31'))
Series

0     2020-01-01
1     2020-01-02
2     2020-01-03
3     2020-01-04
4     2020-01-05
         ...
361   2020-12-27
362   2020-12-28
363   2020-12-29
364   2020-12-30
365   2020-12-31
Length: 366, dtype: datetime64[ns]

In [28]:
data = Series.to_frame('Dates')
data

         Dates
0   2020-01-01
1   2020-01-02
2   2020-01-03
3   2020-01-04
4   2020-01-05
..         ...
361 2020-12-27
362 2020-12-28
363 2020-12-29
364 2020-12-30
365 2020-12-31

[366 rows x 1 columns]

In [29]:
data['Week_Number'] = data['Dates'].dt.week

C:\Users\mrgan\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.

In [33]:
data.head(20)

        Dates  Week_Number
0  2020-01-01            1
1  2020-01-02            1
2  2020-01-03            1
3  2020-01-04            1
4  2020-01-05            1
5  2020-01-06            2
6  2020-01-07            2
7  2020-01-08            2
8  2020-01-09            2
9  2020-01-10            2
10 2020-01-11            2
11 2020-01-12            2
12 2020-01-13            3
13 2020-01-14            3
14 2020-01-15            3
15 2020-01-16            3
16 2020-01-17            3
17 2020-01-18            3
18 2020-01-19            3
19 2020-01-20            4